<h1>New Guest</h1>

<%= form_for @guest do |f| %>
  Name: <%= f.text_field :name %><br />
  Occupation: <%= f.text_field :occupation %><br />
  Episode Number: <%= f.text_field :appearances %>
  Rating (1-5): <%= f.text_field :rating %>
  <%= f.submit %>
<% end %>
